@model Lab5.Models.YEUTHICH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YEUTHICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHVIEN.HovaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHVIEN.HovaTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDYT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
