@model IEnumerable<Lab5.Models.YEUTHICH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDTV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHVIEN.HovaTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDTV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANHVIEN.HovaTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDYT }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDYT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDYT })
        </td>
    </tr>
}

</table>
